# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xcscmblueprint
*.xccheckout

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Misc
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# ROM (copyrighted — kept local, not committed)
docs/*.sms
AstroWarriorKit/Sources/ParityDebug/Resources/*.sms
